#!/usr/bin/make -f

DEB_VERSION ?= $(shell dpkg-parsechangelog | awk '/^Version: /{print $$2}')
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS 2>/dev/null)
DEB_HOST_ARCH ?= $(shell dpkg --print-architecture)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

CONFOPTS= --enable-raw --with-slang --enable-line
CONFOPTS += --libdir=/lib/$(DEB_HOST_MULTIARCH) --libexecdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)
ifeq ($(DEB_HOST_ARCH_OS),linux)
CONFOPTS += --with-selinux --enable-libmount-mount --enable-partx
endif
CONFOPTS += --enable-tunelp
CONFOPTS += --disable-silent-rules


%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	AM_OPTS=--copy LT_OPTS=--copy dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- ${CONFOPTS}

override_dh_auto_install:
	dh_auto_install
	#
	# XXX - push things to where debian has always(?) had them...
ifeq ($(DEB_HOST_ARCH_OS),linux)
	mv debian/tmp/usr/sbin/*part* debian/tmp/usr/bin
	mv debian/tmp/usr/bin/cytune debian/tmp/usr/sbin
endif
	mv debian/tmp/usr/bin/tailf debian/tmp/bin
	mv debian/tmp/usr/bin/isosize debian/tmp/sbin
	mv debian/tmp/usr/share/man/man8/linux32.8 debian/tmp/usr/share/man/man1/linux32.1
	mv debian/tmp/usr/share/man/man8/linux64.8 debian/tmp/usr/share/man/man1/linux64.1
	# initscripts delivers this
	rm -f debian/tmp/bin/mountpoint debian/tmp/usr/share/man/man1/mountpoint.1*
	install -d -m 755 debian/tmp/etc/fstab.d
	# the version in bsdmainutils seems newer.
	rm -f debian/tmp/usr/bin/look debian/tmp/usr/share/man/man1/look.1
	rm -f debian/tmp/usr/bin/hexdump debian/tmp/usr/share/man/man1/hexdump.1
	# and it's less pain to just let bsmainutils deliver col for now.
	rm -f debian/tmp/usr/bin/col* debian/tmp/usr/share/man/man1/col*.1
	rm -f debian/tmp/usr/bin/ul debian/tmp/usr/share/man/man1/ul*.1
	rm -f debian/tmp/usr/bin/cal debian/tmp/usr/share/man/man1/cal.1
	# remove *.la files and empty directories which do not belong into util-linux
	rm -f debian/tmp/usr/lib/*/*.la
	# perl gets to do rename, not us.
	mv debian/tmp/usr/bin/rename debian/tmp/usr/bin/rename.ul
	mv debian/tmp/usr/share/man/man1/rename.1 debian/tmp/usr/share/man/man1/rename.ul.1
	rm -f debian/tmp/usr/share/info/dir
	#
	#
	mkdir -p debian/tmp/usr/lib/mime/packages/
	install -m 644 debian/mime.util-linux debian/tmp/usr/lib/mime/packages/util-linux
	if [ -f debian/tmp/sbin/hwclock ] ; then \
	    install -m 644 debian/hwclock.5 debian/tmp/usr/share/man/man5; \
	    mkdir -p debian/tmp/lib/udev/rules.d/; \
	    install -m 644 debian/hwclock.rules debian/tmp/lib/udev/rules.d/85-hwclock.rules; \
	    install -m 755 debian/hwclock-set debian/tmp/lib/udev/hwclock-set; \
	fi
	#
ifeq ($(DEB_HOST_ARCH_OS),linux)
	# copy mount library and symlink into udeb
	mkdir -p debian/libmount1-udeb/lib/
	ln debian/tmp/lib/*/libmount.so.1.* debian/libmount1-udeb/lib/
	ln debian/tmp/lib/*/libmount.so.1   debian/libmount1-udeb/lib/
endif
	# copy blkid library and symlink into udeb
	mkdir -p debian/libblkid1-udeb/lib/
	ln debian/tmp/lib/*/libblkid.so.1.* debian/libblkid1-udeb/lib/
	ln debian/tmp/lib/*/libblkid.so.1   debian/libblkid1-udeb/lib/
	mkdir -p debian/util-linux-udeb/sbin/
	ln debian/tmp/sbin/blkid debian/util-linux-udeb/sbin/
	# copy uuid library and symlink into udeb
	mkdir -p debian/libuuid1-udeb/lib/
	ln debian/tmp/lib/*/libuuid.so.1.* debian/libuuid1-udeb/lib/
	ln debian/tmp/lib/*/libuuid.so.1   debian/libuuid1-udeb/lib/
	#
	cd debian; if [ -f tmp/sbin/fdisk ]; then \
	    mkdir -p fdisk-udeb/usr/sbin/; \
	    ln tmp/sbin/*fdisk fdisk-udeb/usr/sbin/; \
	    S=fdisk-udeb/usr/sbin/cfdisk; if [ -f $$S ]; then mv $$S cfdisk-udeb/usr/sbin/; fi; \
	fi
	# XXX: fixme.... debian/cfdisk-udeb vs debian/tmp
	if [ -d debian/cfdisk-udeb ]; then \
		cd debian/util-linux-locales && find usr/share/locale -type f | while read x; do ln $$x ../cfdisk-udeb/$$x; done \
	fi
# XXX: fixme....
#ifeq ($(DEB_HOST_ARCH_OS),linux)
#ifeq ($(DEB_HOST_ARCH),$(findstring $(arch),powerpc ppc64))
#	mv -f debian/util-linux/sbin/fdisk debian/util-linux/sbin/ddisk
#	mv -f debian/util-linux/usr/share/man/man8/fdisk.8 debian/util-linux/usr/share/man/man8/ddisk.8
#else
#	cd debian/util-linux && if [ -f sbin/hwclock ] ; then ln -sf hwclock.8.gz usr/share/man/man8/clock.8.gz; fi
#endif
#endif
ifneq ($(DEB_HOST_ARCH_OS),hurd)
	cd debian/tmp/sbin ; ln agetty getty
	cd debian/tmp/usr/share/man/man8 ; ln agetty.8 getty.8
endif
ifneq ($(DEB_HOST_ARCH_OS),linux)
	cd debian/tmp/sbin ; mv mkswap mkswap.linux
	cd debian/tmp/usr/share/man/man8 ; mv mkswap.8 mkswap.linux.8
endif
	rm -rf debian/*-udeb/usr/share/doc

override_dh_gencontrol:
	# FIXME: just use: Conflicts: getty [hurd-any]
ifeq ($(DEB_HOST_ARCH_OS),hurd)
	echo util-linux:Conflicts=getty >> debian/util-linux.substvars
endif
	dh_gencontrol -Xbsdutils
	dh_gencontrol -pbsdutils -u-v1:$(DEB_VERSION)

override_dh_installinit:
	# install /etc/init.d/hwclock.sh
	# - update-rc.d manually handled in maintainers scripts as there
	#   is special per-arch considerations.
	dh_installinit --name=hwclock.sh --noscripts
	# install /etc/default/hwclock
	dh_installinit --name=hwclock


override_dh_installdocs:
	dh_installdocs
	# overwrite copyright
	#install -m 644 debian/libblkid.copyright debian/libblkid1/usr/share/doc/libblkid1/copyright
	#install -m 644 debian/libblkid.copyright debian/libblkid-dev/usr/share/doc/libblkid-dev/copyright
	# overwrite copyright
	#install -m 644 debian/libuuid.copyright debian/libuuid1/usr/share/doc/libuuid1/copyright
	#install -m 644 debian/libuuid.copyright debian/uuid-dev/usr/share/doc/uuid-dev/copyright
	#install -m 644 debian/libuuid.copyright debian/uuid-runtime/usr/share/doc/uuid-runtime/copyright

override_dh_fixperms:
	dh_fixperms -i -s -Xusr/bin/wall -Xbin/mount -Xbin/umount

